.main {
    width: 620px;
    height: 430px;
    background-color: white;
    border-radius: 20px;
    position: relative;
}

.main header {
    height: 60px;
    display: flex;
    padding: 22px;
    justify-content: space-between;
    align-items: center;
}

.info {
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 10px;
}

.ball {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #5B7AD8;
}

.teste {
    height: 350px !important;
    padding-bottom: 15px;
}
