.searchBar {
    display: flex;
    width: 95%;
    height: 90px;
    padding: 25px;
    background-color: #FFFFFF;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
}

.searchBar input {
    width: 400px;
    height: 40px;
    padding: 20px;
    background-color: #ebedee;
    border: none;
    border-radius: 20px;  
    background-image: url("../../img/search-regular-24.png");
    background-repeat: no-repeat;
    background-position: 95%;
}

.searchBar input:focus {
    outline: none;
}

.newTaskButton {
    display: flex;
    width: 150px;
    height: 40px;
    background-color: #081225;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 30px;
}

.newTaskButton:hover {
    cursor: pointer;
}