.main {
    display: flex;
    padding: 30px;
}

.dashboard {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}

.searchBar {
    display: flex;
    width: 95%;
    height: 100px;
    background-color: rgb(223, 132, 20);
}

