.main {
    display: flex;
    padding: 30px;
    background-color: #B5C2CA;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    gap: 20px;
}

.createTask {
    background-color: rgba(124, 131, 121, 0.658);
    width: 99vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


