/* .main {
    background-color: #EAECDF;
} */

.section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 850px;
    position: relative;
    border-bottom: 5px solid black;
    background: url("../../img/dashboardBackground.png");
    background-size: 2000px;
}

.title {
    position: absolute;
    top: 50px;
    font-size: 5.5em;
    color: #C6EF4E;
    -webkit-text-stroke: 2px black;
    text-shadow: 2px 2px 2px black;
    animation: fadein 1.5s forwards;
}

.titleWhite {
    color: white;
}

.lightbulb {
    width: 300px;
    z-index: 1;
}

.lightSource {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #B6D600;
    border-radius: 100%;
    animation: glow 1s forwards;
}

.marquee {

}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 980px;
    padding-top: 40px;
    border-bottom: 5px solid black;
}

.section2 h1 {
    font-size: 70px;
}

.section2 p {
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
}

.bannerContainer {
    display: flex;
    width: 100%;
    height: 610px;
    justify-content: space-around;
    padding-top: 50px;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    height: 800px;
    gap: 30px;
}

.entrar {
    width: 400px;
    border-radius: 20px;
    border: 4px solid black;
    padding: 20px;
    margin-top: 20px;
    font-size: 70px;
    cursor: pointer;
}

@keyframes glow {
    0% {
        box-shadow: 0px 0px 0px #d9ff00;
    }

    100% {
        box-shadow: 0px 0px 250px 200px #d9ff00;
    }
}

@keyframes fadein {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}