/* .main {
    background-color: #EAECDF;
} */

.section1_off {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 850px;
    position: relative;
    border-bottom: 5px solid black;
    background-color: #EDDDD6;
}

.section1_on {
    background-color: #d9ff00;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 850px;
    position: relative;
    border-bottom: 5px solid black;
}


.lightbulb {
    width: 300px;
    z-index: 1;
}

.lightSource {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #B6D600;
    border-radius: 100%;
    box-shadow: 0px 0px 250px 200px #d9ff00;
    
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 980px;
    padding-top: 40px;
    border-bottom: 5px solid black;
}

.section2 h1 {
    font-size: 70px;
}

.section2 p {
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
}

.bannerContainer {
    display: flex;
    width: 100%;
    height: 610px;
    justify-content: space-around;
    padding-top: 50px;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    height: 800px;
    gap: 30px;
}

.entrar {
    width: 400px;
    border-radius: 20px;
    border: 4px solid black;
    padding: 20px;
    margin-top: 20px;
    font-size: 70px;
    cursor: pointer;
}