.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formContainer {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 30%;
    height: 750px;
    font-size: 3em;
    border: 10px solid black;
    border-radius: 10px;
}

.formContainer h1 {
    font-size: 1.5em;
}

.formContainer p {
    font-size: 0.8em;
    margin-bottom: 40px;
}


form input {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    font-size: 25px;
}

#forgotPassword {
    font-size: 0.5em;
}

#forgotPassword:hover {
    color: blue;
    transition: 1s;

}

form button {
    font-size: 50px;
    border: 4px solid black;
}

form button:hover {
    cursor: pointer;
}

.main div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.main div h1 {
    font-size: 1.7em;
}

