*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bolder;
}


a{
  text-decoration: none;
  color: black;
}

body {
  padding: 15px;

  font-family: Nimbus;
  position: relative;
}

@font-face {
  font-family: Nimbus;
  src: url(./fonts/NimbusSanL-Reg.otf);
}

@font-face {
  font-family: Nimbus_bold;
  src: url(./fonts/NimbusSanL-Bol.otf);
}

button {
  font-family: Nimbus;
}

h1 {
  font-size: 130px;
}

p {
  font-size: 70px;
}




