*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bolder;
}


a{
  text-decoration: none;
  color: black;
}

@font-face {
  font-family: Roc;
  src: url(./fonts/Fontspring-DEMO-rocgroteskcond-bold.otf);
}

body {
  font-family: Roc;
  position: relative;
}










